---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h1>Les derniers articles</h1>

{% set postslist = collections.posts | head(-5) %}
{% include "postslist.njk" %}

<p>Tous les articles dans <a href="{{ '/posts/' | url }}">l'archive</a>.</p>
